* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  border: none;
}
